*, 
*::before, 
*::after {
    box-sizing: border-box;
}
.wrapper {
    width: 86%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-top: 1.5em;
}

.site-header {
    background-color: #EAEAEA;
    text-align: center;
    padding: 1.5em 0;
}

main {
    padding: 1.5em 1em;
}

.field-error {
    color: #900;
    font-size: 0.875em;
}

.alert-success {
    color:white;
    background-color: #050;
    padding: 0.5em 1.5em;
    border-radius: 6px;
    margin: 1em 0;
}

.alert-error {
    color:white;
    background-color: #800;
    padding: 0.5em 1.5em;
    border-radius: 6px;
    margin: 1em 0;
}