<h2>Alle Kurse</h2>

<form action="/courses/new">
    <input type="submit" value="Neuen Kurs anlegen" class="pure-button"/>
</form>
<br>
<br>
<table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Beschreibung</th>
            <th>Trainer</th>
            <th>Raum</th>
            <th>Datum</th>
            <th>Kursstart</th>
            <th>Kursende</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <repeat group="{{ @courses }}" value="{{ @course }}">
            <tr>
                <td>{{ @course.title }}</td>
                <td>{{ @course.description }}</td>
                <td>{{ @course.tName }}</td>
                <td>{{ @course.rNumber }}</td>
                <td>{{ @course.date }}</td>
                <td>{{ @course.time_start }}</td>
                <td>{{ @course.time_end }}</td>

                <td><a href="/courses/{{ @course.id }}">Details</a></td>
                <td><a href="/courses/{{ @course.id }}/edit">Edit</a></td>
                <td><button class="pure-button btn-delete" data-url="/courses/{{ @course.id }}/delete">Delete</button>
            </tr>
        </repeat>
    </tbody>
</table>