<include href="/views/modules/alert.html" />

<h2>Kurs anlegen</h2>

<form action="" method="post" class="pure-form pure-form-stacked">
    <label for="title">Titel:</label>
    <input type="text" name="title">

    <label for="description">Beschreibung:</label>
    <textarea name="description" id="" cols="30" rows="10"></textarea>

    <label for="trainer">Trainer:</label>
    <select name="trainer" id="">
        <option value="1">Hanna Banana</option>
        <option value="2">Viktor Van Helsing</option>
    
    </select>
    <label for="room">Raum:</label>
    <select name="room" id="">
        <option value="1">Hauptraum</option>
        <option value="2">Festsaal</option>
        <option value="3">IT Raum</option>
        <option value="4">Hörsaal</option>
    </select>

    <h4>Kursbeginn:</h4>
    <input type="date" name="kursstart" id="">
    <label for="time_start">von:</label>
    <input type="datetime" name="time_start" id=""> 
    <label for="time_end">bis:</label>
    <input type="datetime" name="time_end" id="">

    <label for="wh"><input type="checkbox" name="wh" id=""> Wiederholung?</label>

    <label for="wh-tage">Wochentage</label>
    <select name="wh-tage" id="">
        <option value="1">Montag</option>
        <option value="2">Dienstag</option>
        <option value="3">Mittwoch</option>
        <option value="4">Donnerstag</option>
        <option value="5">Freitag</option>
        <option value="6">Samstag</option>
    </select>

    <h4>Kursende:</h4>
    <input type="date" name="kursende" id="">

    <label for="min-tn">min. TN:</label>
    <input type="text" name="min-tn">

    <label for="max-tn">max.TN:</label>
    <input type="text" name="max-tn">

    <label for="kosten-netto">Kosten netto:</label>
    <input type="text" name="kosten-netto">

    <label for="ust">USt.:</label>
    <input type="text" name="ust">

    <label for="kosten-brutto">Kosten brutto:</label>
    <input type="text" name="kosten-brutto">

    <label for="gutschein"><input type="checkbox" name="gutschein" id=""> Gutscheincodes akzeptieren?</label>

    <label for="gutscheincodes">Bestehende Codes verwenden:</label>
    <select name="gutscheincodes" id="">
        <option value="1">XMAS20</option>
        <option value="2">NEWYYEAR20</option>
    </select>

    <label for="newcode">Neuer Code:</label>
    <input type="text" name="newcode">

    <button type="submit" class="pure-button">Kurs anlegen</button>

</form>