<include href="/views/modules/alert.html" />

<h2>Alle User</h2>
<!-- <p>{{ var_dump(@users) }}</p> -->
<table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>E-Mail</th>
            <th>Password</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <repeat group="{{ @users }}" value="{{ @row }}">
            <tr>
                <td>{{ @row.email}}</td>
                <td>{{ @row.password }}</td>
                <td><a href="/user/{{ @row.id }}">Details</a></td>
                <td><a href="/user/{{ @row.id }}/edit">Edit</a></td>
                <td><button class="pure-button btn-delete" data-url="/user/{{ @row.id }}/delete">Delete</button>
            </tr>
        </repeat>
    </tbody>
</table>