<include href="/views/modules/alert.html" />
<h2>User ändern</h2>

<form action="" method="post" class="pure-form pure-form-stacked">

    <label for="email">E-Mail: </label>
    <check if="{{ @errors.email }}">
        <div class="field-error">{{ @errors.email }}</div>
    </check>
    <input type="text" name="email" value="{{ @values.email }}">

    <label for="password">Passwort: </label>
    <check if="{{ @errors.password }}">
        <div class="field-error">{{ @errors.password }}</div>
    </check>
    <input type="text" name="password" value="{{ @values.password }}">

<button type="submit" class="pure-button">Ändern</button>

</form>