<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Institut | {{ @pageTitle }}</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>
<body>
    <div class="wrapper">
        <header class="site-header">
            <h1>{{ @mainHeading }}</h1>
        </header>
        <main>
            <include href="{{ @content }}" />
        </main>
    </div>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <repeat group="{{ @jScripts }}" value ="{{ @script }}">
        <script src="{{ @script }}"></script>
    </repeat>

</body>
</html>